body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: ADLaM Display;
    min-height: 100vh;
}

.one {
    background-color: #007A54;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    height: 100px;
    width: 1500px;
    margin-bottom: 650px;
}

.button {
    background-color: #007A54;
    display: flex;
    color: white;
    font-size: 64px;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    transform: translateY(-8px);
}

.one ul {
    display: flex;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.one h3 a {
    color: white;           
    text-decoration: none;  
}

.one h3 a:hover {
    color: #a0ffd4;
}

.objetivo {
    display: flex;
    justify-content: center;
}