body {
    display: flex;
    padding: 0;    
}

.one {
    background-color: #007A54;
    display: flex;
    color: white;
    font-size: 36px;
}

.button {
    background-color: #007A54;
    display: flex;
    color: white;
    font-size: 64px;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    transform: translateY(-8px);
}