body {
    display: flex;
    padding: 0;
    background-color: antiquewhite;
    
}

.one {
    background-color: #007A54;
    display: flex;
    color: white;
}

.botton {
    background-color: tomato;
    display: flex;
    color: white;
}